<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div style="display: flex;flex-direction: column;gap: 20px;height: 100vh;">
    <router-outlet></router-outlet>
    <footer>
        <div class="footer-content">
            <a href="https://www.facebook.com/essec.tunis?mibextid=ZbWKwL" target="_blank" class="footer-icon"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/votrepage" target="_blank" class="footer-icon"><i
                    class="fab fa-instagram"></i></a>
            <a href="tel:+1234567890" class="footer-icon"><i class="fas fa-phone"></i></a>
            <a href="mailto:votreemail@example.com" class="footer-icon"><i class="fas fa-envelope"></i></a>
        </div>

        <p>&copy; 2024 Notre Platforme. Tous droits réservés.</p>
    </footer>
</div>